@page
@model WebApplicationDemo.Pages.AJAXDemoModel
@{
}

<button onclick="RefreshStudentTable('studentGroupTbody')">TestAjax</button>
<table class="table table-color">
    <thead>
        <tr>
            <th>
                Назва групи
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="studentGroupTbody">
    </tbody>
</table>

